/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application {
	bakcgroundColor: #000000;
}

#as3player {

}

.vidControls {
}

.imgBtn {

}